@page "/battlelog"
@inject IBattleService BattleService

<h3>BattleLog</h3>
<div>

    <ul class="list-group">
        @foreach (var round in BattleService.LastBattle.Log)
        {
            <li class=@getClass(round)>
                @round
            </li>            
        }
    </ul>
</div>
@code {
    string getClass(string round)
    {
        if (round.Contains("kills"))
        {
            return "list-group-item list-group-item-danger";
        }
        else
        {
            return "list-group-item";
        }
    }
}
