@page "/"
<AuthorizeView>             @* // *@
    <Authorized>            @* // *@
        <h1>Hey, @context.User.Identity.Name. Welcome Back!</h1>
        Let's admire <a href="army">Your Army.</a>
    </Authorized>
    <NotAuthorized>           @* // *@
        <h1>Welcome to Blazor Battless.</h1>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>
<PageTitle>Blazor Battles Home</PageTitle>



@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
